<div class="min-h-screen bg-slate-50 relative">
  <!-- 1. Sidebar Fixa (Controla sua própria largura) -->
  <app-sidebar />

  <!-- 2. Área de Conteúdo (Header + Page) -->
  <!-- 'ml-...' é controlado dinamicamente pelo service para desktop -->
  <div
    class="flex flex-col min-h-screen transition-all duration-300 ease-in-out"
    [ngClass]="layoutService.contentMarginClass()"
  >
    <!-- Header Sticky -->
    <app-header />

    <!-- Conteúdo da Rota -->
    <main class="flex-1 p-4 md:p-8 overflow-x-hidden">
      <div class="max-w-7xl mx-auto animate-fade-in-up">
        <router-outlet />
      </div>
    </main>

    <!-- Footer Simples -->
    <footer class="py-6 text-center text-slate-400 text-sm">
      &copy; 2025 MedStock. Cuide-se bem.
    </footer>
  </div>
</div>
